a {
  color: #9d0a0a;
}
a:hover {
  color: #6d0707;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  color: #000000 !important;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #000000 !important;
}
#offcanvas-toggler >i {
  color: #252525;
}
#offcanvas-toggler >i:hover {
  color: #9d0a0a;
}
@media only screen and (max-width: 991px) {
  #offcanvas-toggler >i {
    color: #111;
  }
  #offcanvas-toggler >i:hover {
    color: #e6e6e6;
  }
}
.btn-style-two {
  background: #9d0a0a;
  border: 2px solid #9d0a0a;
}
.btn-style-two:hover,
.btn-style-three:hover {
  color: #9d0a0a;
  border-color: #9d0a0a;
}
.btn-style-four:hover,
.btn-style-four:focus,
.btn-style-four:active {
  border: 2px solid #9d0a0a;
}
.price_plan_section .premium .price_footer .get_start:hover {
  background: #6d0707;
}
a.button,
a.button.button-white:hover,
a.button.border_radius.button-black:hover,
.pager li>a,
.pager li>span,
.major-background,
.about-desc > a:hover,
.section-title .qx-subtitle:before,
.service_section .single_service:hover .divider,
.price_plan_section .premium .get_start,
.price_plan_section .price_footer .get_start:hover,
.price_plan_section .premium::before,
.quick_support_section .social_link ul li a:hover,
.sppb-cta-title:before,
.sppb-title-heading:before,
.hikashop_products .hikashop_product_image .tm-hp-product-buttons form .hikashop_product_stock,
.layout-show .hikashop_product_bottom_part .nav-tabs >li.active>a {
  background: #9d0a0a;
}
.qx-element-testimonial-pro .qx-testimonial img {
  border: 3px solid #9d0a0a;
}
.qx-element-testimonial-pro .qx-testimonial h4,
.service_section_v2 .single_service_v2 a:hover,
.color_d5,
.service_section_v2 .single_service_v2:hover i,
.quick_support_section .single_support h6,
a.button.button-white,
a.button:hover,
a.button.btn-gray:hover,
a.button.btn-border:hover,
#sp-top-bar a:hover,
.hikashop_compare_page .hikashop_product_stock table tr td > a:hover,
.toolbar-wrapper .hikashop_currency_module select.hikashopcurrency,
.toolbar-wrapper .chzn-container .chzn-results li.highlighted,
.toolbar-wrapper .chzn-container .chzn-results li.result-selected,
.hk-rating .hk-rate-star:after,
.hika_comment_listing_stars .hk-rate-star:after,
.hk-rating .hika_comment_listing_full_stars:after,
.hika_comment_listing_stars .hika_comment_listing_full_stars:after,
.hikashop_products .hikashop_product .has-option .hikashop_product_stock:hover:before,
.hikashop_products .hikashop_product .hikashop_product_addtocart:hover:before,
.hikashop_product_name a:hover,
.hikashop_products_pagination .list-footer .pagenav,
.hikashop_subcategories_pagination .list-footer .pagenav,
.sppb-nav-tabs > li.active > a,
.sppb-nav-tabs > li.active > a:hover,
.sppb-nav-tabs > li.active > a:focus,
.feature-desc > p {
  color: #9d0a0a;
}
.price_plan_section .premium {
  border-top-color: #9d0a0a !important;
}
.wt-counter-icon i:hover {
  color: #9d0a0a;
}
.hikashop_products .hikashop_product_image .hikashop_product_image_subdiv .tm-hs-compare {
  background-color: #9d0a0a;
}
#hikashop_cart_module .tm-hs-cart-popup table td a:hover {
  color: #9d0a0a !important;
}
#sp-right .sp-module-title:before,
#sp-left .sp-module-title:before {
  background-color: #9d0a0a;
}
div.catItemHeader h3.catItemTitle a:hover,
div.catItemHeader h3.catItemTitle a:active {
  color: #9d0a0a;
}
.qx-btn-default:hover,
.qx-btn-default:focus,
.qx-btn-default:active {
  color: #9d0a0a !important;
}
h4.sprocket-strips-s-title a:hover,
h4.sprocket-strips-s-title a:focus,
h4.sprocket-strips-s-title a:active {
  color: #9d0a0a;
}
.section-title .qx-subtitle:after {
  color: #9d0a0a;
}
.k2TagCloudBlock a:hover {
  background: #9d0a0a !important;
}
div.k2Pagination ul li.active a {
  background: #9d0a0a !important;
}
div.itemCommentsForm form input#submitCommentButton {
  border: 2px solid #9d0a0a;
  color: #9d0a0a !important;
}
div.itemCommentsForm form input#submitCommentButton:hover,
div.itemCommentsForm form input#submitCommentButton:focus {
  background: #9d0a0a;
}
.btn-reservation:hover {
  background: #9d0a0a;
}
input#sp_qc_submit:hover,
input#sp_qc_submit:focus,
input#sp_qc_submit:active {
  background: #9d0a0a;
}
.feature-desc > a:hover {
  background: #9d0a0a;
  border-color: #9d0a0a;
}
.helix-social-share .helix-social-share-icon ul li div a:hover,
.helix-social-share .helix-social-share-icon ul li div a:focus {
  background: #9d0a0a;
}
.bottom a.readmore:hover,
.bottom a.readmore:focus {
  background: #9d0a0a;
}
#kunena.layout .kheader {
  background: #9d0a0a !important;
}
#kunena.layout .message .post-anchor a:hover {
  background-color: #9d0a0a !important;
}
#kunena.layout td.kcol-cat-icon a,
#kunena.layout td.kcol-topic-icon a,
#kstats .kcol-cat-icon,
#kwho .kcol-cat-icon {
  background-color: #9d0a0a !important;
}
#kunena.layout .navbar .btn:hover,
#kunena.layout .navbar .btn:focus,
#kunena.layout .navbar .btn:active,
#kunena.layout .navbar .btn-group:hover,
#kunena.layout .navbar .btn-group:focus,
#kunena.layout .navbar .btn-group:active {
  background: #6d0707;
}
.btn-primary,
.sppb-btn-primary {
  background-color: #9d0a0a;
  color: #fff;
  outline: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.sppb-btn-primary:hover,
.sppb-btn-primary:focus,
.sppb-btn-primary:active {
  color: #fff;
  background-color: #0b93c5;
  border: none;
}
.btn-secondary,
.sppb-btn-secondary {
  background-color: #0088CC;
  color: #fff;
  outline: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.sppb-btn-secondary:hover,
.sppb-btn-secondary:focus,
.sppb-btn-secondary:active {
  color: #fff;
  background-color: #006699;
  border: none;
}
.btn-danger,
.sppb-btn-danger {
  background-color: #E98D2B;
  color: #fff;
  outline: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.sppb-btn-danger:hover,
.sppb-btn-danger:focus,
.sppb-btn-danger:active {
  color: #fff;
  background-color: #cc7315;
  border: none;
}
.btn-info,
.sppb-btn-info {
  background-color: #00a4b0;
  color: #fff;
  outline: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.sppb-btn-info:hover,
.sppb-btn-info:focus,
.sppb-btn-info:active {
  background-color: #00747d;
}
ul.social-icons >li a:hover {
  color: #9d0a0a;
}
.sp-page-title {
  background: #000000;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #3d3d3d;
}
.sp-module ul >li >a:hover {
  color: #9d0a0a;
}
.sp-module .latestnews >div >a {
  color: #3d3d3d;
}
.sp-module .latestnews >div >a:hover {
  color: #9d0a0a;
}
.sp-module .tagscloud .tag-name:hover {
  background: #9d0a0a;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: rgba(0,0,0,0);
  color: #9d0a0a;
}
.search .btn-toolbar button {
  background: #9d0a0a;
}
.post-format {
  background: #9d0a0a;
}
.voting-symbol span.star.active:before {
  color: #9d0a0a;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #6d0707;
}
.entry-link,
.entry-quote {
  background: #9d0a0a;
}
blockquote {
  border-color: #9d0a0a;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #9d0a0a;
}
#sp-footer {
  background: #9d0a0a;
}
.sp-comingsoon body {
  background-color: #9d0a0a;
}
.pagination>li>a,
.pagination>li>span {
  color: #252525;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  background: #252525 !important;
  color: #fff;
  border: 1px solid #252525 !important;
}
.pagination>.active>a,
.pagination>.active>span {
  background: #252525;
  color: #fff;
  border: none;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  background: #252525 !important;
  color: #fff;
  border: none !important;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
}
#sp-quickcontact-form textarea#message {
  height: 160px !important;
  padding: 20px;
}
.sppb-form-control,
a.btn[title="Cancel"],
button[type="submit"],
button[name="Search"] {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sppb-form-control {
  border: 1px solid transparent;
}
.sppb-form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.group-control select,
.group-control textarea,
.group-control input[type="text"],
.group-control input[type="password"],
.group-control input[type="datetime"],
.group-control input[type="datetime-local"],
.group-control input[type="date"],
.group-control input[type="month"],
.group-control input[type="time"],
.group-control input[type="week"],
.group-control input[type="number"],
.group-control input[type="email"],
.group-control input[type="url"],
.group-control input[type="search"],
.group-control input[type="tel"],
.group-control input[type="color"],
.group-control .uneditable-input {
  width: 100%;
}
.qx-btn.qx-btn-link,
.btn.btn-link,
.sppb-btn.btn-link,
.btn.sppb-btn-link,
.sppb-btn.sppb-btn-link,
.items-leading article h2 a:hover,
.article-info > dd,
div.pagination ul.pagination li a.last:hover,
.pagination-wrapper ul.pagination li a.last:hover,
div.pagination ul.pagination li a.first:hover,
.pagination-wrapper ul.pagination li a.first:hover,
div.pagination ul.pagination li a.last:focus,
.pagination-wrapper ul.pagination li a.last:focus,
div.pagination ul.pagination li a.first:focus,
.pagination-wrapper ul.pagination li a.first:focus,
.btn.btn-default,
.btn.sppb-btn-default,
.sppb-btn.btn-default,
.sppb-btn.sppb-btn-default {
  color: #9d0a0a;
}
.qx-btn.qx-btn-link:hover,
.btn.btn-link:hover,
.sppb-btn.btn-link:hover,
.btn.sppb-btn-link:hover,
.sppb-btn.sppb-btn-link:hover,
.qx-btn.qx-btn-link:focus,
.btn.btn-link:focus,
.sppb-btn.btn-link:focus,
.btn.sppb-btn-link:focus,
.sppb-btn.sppb-btn-link:focus {
  color: #6d0707;
}
div.pagination ul.pagination li.active a,
.pagination-wrapper ul.pagination li.active a {
  background: #9d0a0a;
}
.qx-btn-primary,
.btn.btn-primary,
.sppb-btn.btn-primary,
.btn.sppb-btn-primary,
.sppb-btn.sppb-btn-primary {
  background: #9d0a0a;
}
.qx-btn-primary:hover,
.qx-btn-primary:focus,
.qx-btn-primary:active,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.sppb-btn.btn-primary:hover,
.sppb-btn.btn-primary:focus,
.sppb-btn.btn-primary:active,
.btn.sppb-btn-primary:hover,
.btn.sppb-btn-primary:focus,
.btn.sppb-btn-primary:active,
.sppb-btn.sppb-btn-primary:hover,
.sppb-btn.sppb-btn-primary:focus,
.sppb-btn.sppb-btn-primary:active {
  background: #850808;
}
